Traditional Test
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"> Components </div>
      <div class="card-body">
        <h5 class="card-title"> Special title treatment </h5>
        <h6 class="card-subtitle text-muted"> Support card subtitle </h6>
      </div>
      <div class="card-body">
        <p class="card-text"> Blanditiis architecto quaerat fugit sit ab veritatis ipsam assumenda doloremque repellendus expedita. <a href="#" class="mention">@stilearningTwit</a> . <a href="#" class="hashtag">#looper</a> <a href="#" class="hashtag">#admin</a><br>
          <time datetime="2018-02-12">Feb 12, 2018 at 08:19pm</time>
        </p>
      </div>
      <div class="card-footer">
        <div class="card-footer-content text-muted"> Card Footer </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-fluid">
      <div class="card-body">
        <div class="el-example">
          <button type="button" class="btn btn-primary">Button</button> <button type="button" class="btn btn-secondary">Button</button> <button type="button" class="btn btn-success">Button</button> <button type="button" class="btn btn-info">Button</button> <button type="button" class="btn btn-warning">Button</button> <button type="button" class="btn btn-danger">Button</button> <button type="button" class="btn btn-light">Button</button> <button type="button" class="btn btn-dark">Button</button> <button type="button" class="btn btn-link">Button</button>
        </div>
      </div>
    </div>
  </div>
</div>
